<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signUp.css">

</head>

<body>
    <div>
        <img class="left-rectangle" src="/views/rectangle-8.svg" id="png" />
    </div>
    <div class="full-container forget-page">
        <div class="signup-heading">
            Forget Password
        </div>
        <form class="signup-form">
            <div class="signup-mail">
                <input type="email" id="email" placeholder="Enter your Email" />


            </div>
            <div class="signup-btn">
                <button  class="signUpBtn" type="button" id="forget-mail">Submit</button>

            </div>

        </form>
        <div id="user-exists"></div>
    </div>
    <div>
        <img class="right-rectangle" src="/views/rectangle-7.svg" id="png" />

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

    <script src="/js/forgetPassword.js"></script>
</body>

</html>